/* verde */

.bg-0 { background-color: #E3FBDB }
.bg-1 { background-color: #9AE583 }
.bg-2 { background-color: #479030 }
.bg-2:hover { background-color: #E3FBDB }
.bg-3 { background-color: #1B6E00 }
.bg-4 { background-color: #081504 }

.bg-laranja { background-color: #FFA13E }
.bg-laranja:hover { background-color: #FFC68A }

/*background*/
.bgBody{background-color: #f4f4f4;}
.bgNav{background-color: #FFFFFF32;}
.bgHeader{background-color: #31CF31;}
.bgFooter{background-color: #31CF31;}
.bgBorder{background-color: #9AE583;}
.bgBlock{background-color: #f4f4f4;}
.bgTransparent{background-color: transparent;}

/*border*/
.bordermain{border-color: #FB6800;}
.borderGreen{border-color: #165b00;}
.borderStart{border-style: solid; border-color: #9AE583; border-bottom: 0px;border-top: 0px;border-right: 0px;}
.borderPgPrincipal{border-style: solid; border-color: #9AE583;}

/*text*/
p{margin: 0px;}
.textwhite{color: #FFFFFF;}
.textgreen{color: #165b00; text-decoration: none;}
.textgreen:hover{color: #FFFFFF; text-decoration: none;}
.pTextWidth{font-size: 100%;}
.textALC{text-align: center;}

/*Width*/
.t1{width: 1%;}
.t50{width: 50%;}
.t100{width: 100%;}
.t30{width: 30%;}
.t35{width: 35%;}
.t40{width: 40%;}
.t45{width: 45%;}
.t75{width: 75%;}
.t25{width: 25%;}
.t49{width: 49%;}
.t49HalfQuarter{width:49.75%}

/*button*/
.bgButton{background-color: #FB6800;padding: 0.75%;border-radius: 10px; border-color: #ffffff00; width: 90px;}
.bgButton:hover{background-color: #FF8D3D;}

.textButton{color: #FFFFFF; text-decoration: none;font-size: 100%;}
.textButton:hover{color: #f4f4f4;}

.bgButtonCancel{background-color: #FB6800;padding: 2.25%;border-radius: 10px; border-color: #ffffff00; color: #FFFFFF; font-weight: bolder;}
.bgButtonCancel:hover{background-color: #FF8D3D;}
.bgButtonAccept{background-color: #FB6800;padding: 2.25%;border-radius: 10px; border-color: #ffffff00; color: #FFFFFF; font-weight: bolder;}
.bgButtonAccept:hover{background-color: #FF8D3D;}

.buttonTrocar{background-color: #FB6800;padding: 1%;border-radius: 10px; border-color: #ffffff00;width: 70px; color: #FFFFFF;}
.buttonTrocar:hover{text-decoration: none;color: #f4f4f4; background-color: #FF8D3D;}

.bgHammer{background-color: #31CF31; padding: 3%;border-radius: 10px; border-color:  #ffffff00;}
.bgHammer:hover{opacity: 75%;}
.bgHammerBad{background-color: #FB6800; padding: 3%;border-radius: 10px; border-color:  #ffffff00;}
.bgHammerBad:hover{opacity: 75%;}

/*altura*/
.hAmbiente{height: 60vh;}
.hPaginaBase{height: 50vh;}
.h100vh{height: 100vh;}
.hPaginaInstancia{height: 70vh;}
.hPaginaRecursos{height: 70vh;}
/*tema dark*/
.absolut{position: absolute;right: 0; margin: 1.25%;}
.themaWidth{width: 20px}
.themaHeight{height: 20px;}
.themabackground{background-image: url(../img/sun.svg);background-repeat: no-repeat;background-size:cover ;}
/*overflow*/
.overflowAuto{overflow: auto;}
.overflowY{overflow-x: hidden;overflow-y: scroll;}
.overflowhidden{overflow-x: hidden;overflow-y: hidden;}
.overflowhidden:hover{overflow-x: auto;overflow-y: auto;}
/*table*/
.tTabelas{width: 10%; text-align: center; font-size: 0.9rem;}
