/* verde */


.bg-0 { background-color: #E3FBDB }
.bg-1 { background-color: #9AE583 }
.bg-2 { background-color: #479030 }
.bg-2:hover { background-color: #E3FBDB }
.bg-3 { background-color: #1B6E00 }
.bg-4 { background-color: #081504 }

.bg-laranja { background-color: #FFA13E }
.bg-laranja:hover { background-color: #FFC68A }

/*background*/
.bgBody{background-color: #fff27e32;}
.bgNav{background-color: #FFFFFF32;}
.bgHeader{background-color: #31CF31;}

/*border*/
.bordermain{border-color: #FB6800;}
/*text*/
.textwhite{color: #FFFFFF;}
.text
/*tamanho*/
.t50{width: 50%;}
/*button*/
.bgbutton{background-color: #FB6800;}