/* verde */
/*
.bg-0 { background-color: #E3FBDB }
.bg-1 { background-color: #9AE583 }
.bg-2 { background-color: #479030 }
.bg-2:hover { background-color: #E3FBDB }
.bg-3 { background-color: #1B6E00 }
.bg-4 { background-color: #081504 }

.bg-laranja { background-color: #FFA13E }
.bg-laranja:hover { background-color: #FFC68A }
*/

/*scroollbar style*/
    /*the scrollbar*/::-webkit-scrollbar{width: 0.75vw; background-color: #d0d0d0DD}
    /*the draggable scrolling handle.*/::-webkit-scrollbar-thumb{background-color: #59d859; border-width: 1px;border-style: solid; border-color: #1ebd1e; border-radius: 10px;}
    /*(progress bar) of the scrollbar, where there is a gray bar on top of a white bar.*/::-webkit-scrollbar-track{background-color: transparent;}
    /*the buttons on the scrollbar (arrows pointing upwards and downwards).*/
        /* Buttons */::-webkit-scrollbar-button:single-button {background-color: #d0d0d0DD; background-repeat: no-repeat; background-size: contain;}
            /* Up */::-webkit-scrollbar-button:single-button:vertical:decrement {background-image: url(../img/arrowTop.svg);}
            /* Down */::-webkit-scrollbar-button:single-button:vertical:increment {background-image: url(../img/arrowBottom.svg);}
            /* Right */::-webkit-scrollbar-button:single-button:horizontal:end {background-image: url(../img/arrowRight.svg);}
            /* Left */::-webkit-scrollbar-button:single-button:horizontal:start {background-image: url(../img/arrowLeft.svg);}

/* background of border*/
.bgBorder{background-color: #59d859; border-style: solid; border-width: 1px; border-color: #1ebd1e;}
.bgBlock{background-color: #f4f4f4; border-style: solid; border-width: 1px; border-color: #1ebd1e;}

/*background*/
.bgBody{background-color: #f4f4f4;}
.bgNav{background-color: #59d859;}
.bgHeader{background-color: #31CF31;}
.bgFooter{background-color: #31CF31;}
.bgTransparent{background-color: transparent;}

/*border*/
.bordermain{border-color: #FB6800;}
.borderGreen{border-color: #165b00;}
.borderPgPrincipal{border-style: solid; border-color: #9AE583;}
.borderBottomGray{border-style: double; border-top: 0px;border-right: 0px; border-left: 0px; border-color: #C0C1C2;}

/*text*/
p{margin: 0px;}
.textwhite{color: #FFFFFF;}
.textgreen{color: #165b00; text-decoration: none;}
.textDropDown{color: #f4f4f4; text-decoration: none; background-color: #FB6800; margin: 3px 0px 3px 0px;}
.textDropDown:hover{color: #FFFFFF; text-decoration: none; background-color: #FF8D3D;}
.textgreen:hover{color: #FFFFFF; text-decoration: none;}
.pTextWidth{font-size: 100%;}
.textALC{text-align: center;}

/*Width*/
.t1{width: 1%;}
.t20{width: 20%;}
.t25{width: 25%;}
.t30{width: 30%;}
.t35{width: 35%;}
.t40{width: 40%;}
.t45{width: 45%;}
.t49{width: 49%;}
.t49HalfQuarter{width:49.75%}
.t50{width: 50%;}
.t70{width: 70%;}
.t75{width: 75%;}
.t100{width: 100%;}

/*button*/
.bgButton{background-color: #FB6800;padding: 0.75%;border-radius: 10px; border-style: solid; border-color: #e25e00; width: 80px; border-width: 1px;}
.bgButton:hover{background-color: #fa771a;}

.textButton{color: #FFFFFF; text-decoration: none;font-size: 100%;}
.textButton:hover{color: #f4f4f4;}

.bgButtonCancel{background-color: #FB6800;padding: 2%;border-radius: 10px; border-style: solid; border-color: #e25e00; color: #FFFFFF; font-weight: bolder; border-width: 1px;}
.bgButtonCancel:hover{background-color: #fa771a;}
.bgButtonAccept{background-color: #FB6800;padding: 2%;border-radius: 10px; border-style: solid; border-color: #e25e00; color: #FFFFFF; font-weight: bolder; border-width: 1px;}
.bgButtonAccept:hover{background-color: #fa771a;}

.bgButtonLgLimpar{background-color: #FB6800;padding: 1.25%;border-radius: 10px; border-style: solid; border-color: #e25e00; color: #FFFFFF; font-weight: bolder; border-width: 1px;}
.bgButtonLgLimpar:hover{background-color: #fa771a;}
.bgButtonLgAccept{background-color: #31CF31;padding: 1.25%;border-radius: 10px;border-style: solid; border-color: #1bc71b; color: #FFFFFF; font-weight: bolder; border-width: 1px;}
.bgButtonLgAccept:hover{background-color: #31CF31DD;}
.buttonBgWhite{background-color: #f4f4f4; padding: 1.25%;border-radius: 10px;border-style: solid; border-color: #0d6efd; color: #0d6efd; font-weight: bolder; border-width: 1px;}
.buttonBgWhite:hover{background-color: #f4f4f4; color: #035de4;}

.buttonTrocar{background-color: #FB6800;padding: 1%;border-radius: 10px; border-style: solid; border-color: #e25e00;;width: 70px; color: #FFFFFF; border-width: 1px;}
.buttonTrocar:hover{text-decoration: none;color: #f4f4f4; background-color: #fa771a;}

.bgHammer{background-color: #31CF31; padding: 3%;border-radius: 10px; border-color:  #ffffff00;}
.bgHammer:hover{background-color: #31CF31BB}
.bgHammerBad{background-color: #FB6800; padding: 3%;border-radius: 10px; border-color:  #ffffff00;}
.bgHammerBad:hover{opacity: 75%;}

/*altura*/
.h100{height: 100%;}
.h80{height: 80%;}
.hPaginaAmbiente{height: 60vh;}
.hPaginaBase{height: 50vh;}
.h100vh{height: 100vh;}
.hPaginaInstancia{height: 70vh;}
.hPaginaRecursos{height: 70vh;}
.hPaginaInstânciaRecurso{height: 60vh;}
/*thema dark*/
.absolut{position: absolute;right: 0; margin: 1.25%;}
.themaWidth{width: 20px}
.themaHeight{height: 20px;}
.themabackground{background-image: url(../img/sun.svg);background-repeat: no-repeat;background-size:cover ;}
/*margin*/
.mgHeaderBt{margin-left: 2%; margin-right: 2%;}
/*overflow*/
.overflowAuto{overflow: auto;}
.overflowY{overflow-x: hidden;overflow-y: scroll;}
.overflowhidden{overflow-x: hidden;overflow-y: hidden;}
.overflowhidden:hover{overflow-x: auto;overflow-y: auto;}



/*table*/
.tTabelas{width: 10%; text-align: center; font-size: 0.9rem;}
    
