{% extends "mainBase.html" %}
{% block title %}C.E.I.F.A - Cadastrar um Recurso{% endblock %}


{% block content %}

<section class="container mt-3">
  <div class="bg-1 p-3 rounded shadow-sm">
    <div class="bg-white border border-success rounded p-3">
      <div class="row row-cols-1 g-3 align-items-center">
        <div class="col-6 border-end border-dark pe-3">
          <div>
            <div class="text-center fs-4">
              <p class="m-0">Cadastrar um novo recurso</p>
              <hr class="w-100 m-0">
            </div>

            <form class="form-floating mt-3" action="#" method="post">

              <div class="form-floating">
                <input type="text" class="form-control" name="name" id="name_id" placeholder="Nome do recurso"
                  required>
                <label for="name_id">Nome do recurso</label>
              </div>

              <div class="form-floating mt-3">
                <input type="number" min="1" class="form-control" name="number" id="number_id"
                  placeholder="Número deste recurso" required>
                <label for="number_id">Número do recurso</label>
              </div>

              <div class="w-100 d-flex justify-content-between">

                <div class="form-floating mt-3 w-100 me-3">
                  <input type="number" class="form-control" name="val_start" id="val_start_id"
                    placeholder="Valor base de leitura" required>
                  <label for="val_start_id">Valor base de leitura</label>
                </div>
                <div class="form-floating mt-3 w-100">
                  <input type="number" class="form-control" name="val_end" id="val_end_id"
                    placeholder="Valor limite de leitura" required>
                  <label for="val_end_id">Valor limite de leitura</label>
                </div>
              </div>

              <p class="my-3 text-danger text-center">{{aviso}}</p>
              <div class="d-flex">
                <button type="submit" class="btn w-75 mt-3 bg-laranja">Cadastrar</button>
                <input type="reset" class="btn w-25 ms-3 mt-3 bg-light">
              </div>

            </form>
          </div>
        </div>


        <div class="col-6 pe-3">
          <div class="w-100">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Número do Recurso</th>
                  <th scope="col">Valor Inicial</th>
                  <th scope="col">Valor Final</th>
                  <th scope="col" style="width: 10%;">Ferramentas</th>
                </tr>
              </thead>
              <tbody>
                <!-- id, name, resource_number, vlini, vlfim -->
                {% for resource in resource %}
                <tr>
                  <th scope="row">{{resource['id_resource']}}</th>
                  <td>{{resource['name']}}</td>
                  <td>{{resource['number_resource']}}</td>
                  <td>{{resource['val_start']}}</td>
                  <td>{{resource['val_end']}}</td>
                  <td>
                    <a href="/cadastro/instancias_recursos?id_res={{resource['id_resource']}}">
                      <img src="../static/img/hammer.svg" alt="">
                    </a>
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>

        </div>


      </div>
    </div>
  </div>


  </div>
  </div>
</section>

{% endblock %}