{% extends "cadBase.html" %}
{% block title %}C.E.I.F.A - Cadastre-se{% endblock %}

{% block content %}

<div class="bg-info bg-opacity-25 p-3 shadow-sm rounded">
    <div class="p-3 bg-white border border-info rounded">
        <form class="row g-3 needs-validation align-items-center" method="post" novalidate>
            <!-- nome -->
            <div class="col-2">
                <label for="nomeUser" class="form-label m-0">Nome</label>
            </div>
            <div class="col-10">
                <input type="text" class="form-control" name="nomeUsuario" id="nomeUser" required>
                <div class="invalid-feedback">
                    Insira um nome de usuário.
                </div>
            </div>
            
            <!-- login -->
            <div class="col-2">
                <label for="loginId" class="form-label m-0">Login</label>
            </div>
            <div class="col-10">
                <input type="text" class="form-control" name="login" id="loginId" required>
                <div class="invalid-feedback">
                    Insira um login.
                </div>
            </div>

            <!-- e-mail -->
            <div class="col-2">
                <label for="emailUser" class="form-label m-0">E-mail</label>
            </div>
            <div class="col-10">
                <input type="email" class="form-control" name="emailUsuario" id="emailUser" required>
                <div class="invalid-feedback">
                    Insira um e-mail.
                </div>
            </div>

            <!-- contato -->
            <div class="col-2">
                <label for="contatoUser" class="form-label m-0">Contato</label>
            </div>
            <div class="col-10">
                <input type="text" class="form-control" name="contatoUsuario" id="contatoUser" required>
                <div class="invalid-feedback">
                    Insira um número válido.
                </div>
            </div>

            <!-- senha -->
            <div class="col-2">
                <label for="senha1" class="form-label m-0">Senha</label>
            </div>
            <div class="col-4">
                <input type="password" class="form-control" name="senha"  id="senha1" required>
                <div class="invalid-feedback">
                    ####
                </div>
            </div>

            <!-- repita a senha -->

            <div class="col-2 text-center">
                <label for="senha2" class="form-label m-0">Repita-a</label>
            </div>
            <div class="col-4">
                <input type="password" class="form-control" name="senhaRep" id="senha2" required>
                <div class="invalid-feedback">
                    ####
                </div>
            </div>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                <li>{{ category }}{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <div class="text-center">
                <button class="btn btn-primary" type="submit">Cadastrar</button>
                <button class="btn btn-light"><a href="/home" class="text-decoration-none">Cancelar</a></button>
                <button class="btn btn-danger" type="reset">Limpar</button>
            </div>



        </form>
    </div>
</div>
</div>




{% endblock %}