{% extends "cadBase.html" %}
{% block title %}C.E.I.F.A - Cadastre-se{% endblock %}

{% block content %}

<div class="bg-info bg-opacity-25 p-3 shadow-sm rounded">
    <div class="p-3 bg-white border border-info rounded">
        <form class="row g-3 needs-validation align-items-center" novalidate>
            <!-- nome, tipo de usuário -->

            <div class="col-3">
                <label for="nomeUser" class="form-label m-0">Nome completo</label>
            </div>
            <div class="col-9">
                <input type="text" class="form-control" name="nomeUsuario" id="nomeUser" required>
                <div class="invalid-feedback">
                    Insira um nome de usuário.
                </div>
            </div>

            <!-- e-mail e senha -->

            <div class="col-3">
                <label for="emailUser" class="form-label m-0">E-mail</label>
            </div>
            <div class="col-9">
                <input type="email" class="form-control" name="emailUsuario" id="emailUser" required>
                <div class="invalid-feedback">
                    Insira um e-mail.
                </div>
            </div>

            <div class="col-3">
                <label for="senha1" class="form-label m-0">Senha</label>
            </div>
            <div class="col-3">
                <input type="password" class="form-control"  id="senha1" required>
                <div class="invalid-feedback">
                    ####
                </div>
            </div>

            <div class="col-3 text-center">
                <label for="senha2" class="form-label m-0">Repita a senha</label>
            </div>
            <div class="col-3">
                <input type="password" class="form-control" name="senha" id="senha2" required>
                <div class="invalid-feedback">
                    ####
                </div>
            </div>


            <div class="col-12">
                <button class="btn btn-primary w-100" type="submit">Cadastrar</button>
                <a href="/home" class="btn btn-light mt-3 w-100">Cancelar</a>
            </div>



        </form>
    </div>
</div>
</div>




{% endblock %}