{% extends "mainBase.html" %}
{% block title %}C.E.I.F.A - Cadastrar um Ambiente{% endblock %}


{% block content %}

<section class="container mt-5 bgBorder p-2 rounded shadow-sm">
    <div class="bgWhite rounded">
      
      <div class="d-flex justify-content-evenly align-items-center hAmbiente">

        <div class="t45 ">
          <div>
            <div class="text-center fs-4">
              <p class="m-0">Cadastrar um novo ambiente</p>
              <hr class="w-100 m-0">
            </div>

            <form class="form-floating mt-3 needs-validation" action="#" method="post">
              <div class="form-floating">
                <input type="text" class="form-control" name="name" id="name_id" placeholder="Nome do ambiente"
                  required>
                <label for="name_id">Nome do ambiente</label>
              </div>


              <div class="mt-3 w-100 d-flex">
                <p class="m-0">Status do ambiente</p>
                <div class="ms-auto">
                  <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="status" id="statusTrue" value="ativo" checked>

                    <label class="form-check-label" for="statusTrue">
                      Ativo
                    </label>
                  </div>


                  <div class="form-check-inline me-0">
                    <input class="form-check-input" type="radio" name="status" id="statusFalse" value="inativo">
                    <label class="form-check-label" for="statusFalse">
                      Inativo
                    </label>
                  </div>
                </div>
              </div>

              <div class="d-flex mt-3">
                <button type="submit" class="bgbuttonAccept t75 ">Cadastrar</button>
                <input type="reset" class="bgButtonCancel t25 ms-3">
              </div>

            </form>
          </div>
        </div>

        <div class="t45 p-3 borderStart hAmbiente">
          <div class="w-100">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Status</th>
                  <th scope="col" style="width: 10%;">Ferramentas</th>
                </tr>
              </thead>
              <tbody>
                {% for environment in environment %}
                <tr>
                  <th scope="row">{{environment['id_environment']}}</th>
                  <td>{{environment['name']}}</td>
                  <td>
                    {% if environment['status']==1 %}
                    Ativo
                    {% elif environment['status']==0 %}
                    Inativo
                    {% endif %}
                  </td>
                  <td>
                    {% if environment['status'] == 1%}
                      <a href="/cadastro/instancias?id={{environment['id_environment']}}">
                        <img src="../static/img/hammer.svg" alt="">
                      </a>
                    {% else %}
                      <a href="/cadastro/instancias?id={{environment['id_environment']}}" style="pointer-events: none">
                        <img src="../static/img/hammer.svg" alt="" style="opacity: 0.4; filter: alpha(opacity=40);">
                      </a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>

        </div>

      </div>
    </div>
</section>
{% endblock %}