{% extends "cadBase.html" %}
{% block title %}C.E.I.F.A - Cadastre-se{% endblock %}

{% block content %}

<div class="bg-info bg-opacity-25 p-3 shadow-sm rounded">
    <div class="p-3 bg-white border border-info rounded">
        <form class="row g-3 needs-validation align-items-center" method="post" novalidate>
            <!-- nome -->
            <div class="col-2">
                <label for="name_id" class="form-label m-0">Nome</label>
            </div>
            <div class="col-10">
                <input type="text" class="form-control" name="name" id="name_id" required>
                <div class="invalid-feedback">
                    Insira um nome de usuário.
                </div>
            </div>

            <!-- login -->
            <div class="col-2">
                <label for="login_id" class="form-label m-0">Login</label>
            </div>
            <div class="col-10">
                <input type="text" class="form-control" name="login" id="login_id" required>
                <div class="invalid-feedback">
                    Insira um login.
                </div>
            </div>

            <!-- e-mail -->
            <div class="col-2">
                <label for="email_id" class="form-label m-0">E-mail</label>
            </div>
            <div class="col-10">
                <input type="email" class="form-control" name="email" id="email_id" required>
                <div class="invalid-feedback">
                    Insira um e-mail.
                </div>
            </div>

            <!-- contato -->
            <div class="col-2">
                <label for="contact_id" class="form-label m-0">Contato</label>
            </div>
            <div class="col-10">
                <input type="text" class="form-control" name="contact" id="contact_id" required>
                <div class="invalid-feedback">
                    Insira um número válido.
                </div>
            </div>

            <!-- senha -->
            <div class="col-2">
                <label for="password_id" class="form-label m-0">Senha</label>
            </div>
            <div class="col-4">
                <input type="password" class="form-control" name="password" id="password_id" required>
                <div class="invalid-feedback">
                    ####
                </div>
            </div>

            <!-- repita a senha -->

            <div class="col-2 text-center">
                <label for="password_repet_id" class="form-label m-0">Repita-a</label>
            </div>
            <div class="col-4">
                <input type="password" class="form-control" name="password_repet" id="password_repet_id" required>
                <div class="invalid-feedback">
                    ####
                </div>
            </div>
            
            <div class="col-2">
                <label for="role_id" class="form-label m-0">Insira o papel</label>
            </div>
            <div class="col-10">
                <select class="form-select" name="role" id="role_id" aria-label="Default select example">
                    <option value="USER" selected>User</option>
                    <option value="ADMIN">Admin</option>
                </select>
                <div class="invalid-feedback">
                    ####
                </div>
            </div>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="alert alert-primary" style="background-color: rgba(147, 0, 0, 0.1); " role="alert">
                {% for category, message in messages %}
                <p class="text-danger">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <div class="text-center">
                <button class="btn btn-primary" type="submit">Cadastrar</button>
                <button class="btn btn-light"><a href="/home" class="text-decoration-none">Cancelar</a></button>
                <button class="btn btn-danger" type="reset">Limpar</button>
            </div>



        </form>
    </div>
</div>
</div>




{% endblock %}