{% extends "mainBase.html" %}
{% block title %}C.E.I.F.A - Cadastrar uma Instância{% endblock %}


{% block content %}
<section class="container mt-5 mb-5 bgBorder p-2 rounded shadow-sm">
      <div class="d-flex justify-content-between align-items-center bgTransparent">

        <!--cadastrar instancia-->
        <div class="t49HalfQuarter p-2 overflowhidden hPaginaInstancia bgBlock rounded">

          <div class="d-flex flex-column mt-5">
            <div class="text-center fs-4">
              <p class="m-0">Cadastrar uma nova instância</p>
              <hr class="w-100 m-0">
            </div>

            <form class="form-floating mt-3" action="#" method="post">

              <div class="form-floating">
                <input type="text" class="form-control" name="name" id="name_id" placeholder="Nome da instância"
                  required>
                <label for="name_id">Nome da instância</label>
              </div>

              <div class="form-floating mt-3">
                <input type="number" min="1" class="form-control" name="number" id="number_id"
                  placeholder="Número desta instância" required>
                <label for="number_id">Número desta instância</label>
              </div>

              <div class="form-floating mt-3">

                <select class="form-select py-3" aria-label="Default select example" name="id_environment_fk" id="environment_id"
                  required>

                  {% if id_env == None %}
                    <option value="" disabled selected>ID | nome do ambiente pai desta instância</option>
                    {% for environment in environment %}
                      <option value="{{ environment['id_environment'] }}">{{ environment['id_environment'] }} | {{ environment['name'] }}</option>
                    {% endfor %}
                  {% else %}
                    <option value="" disabled>ID | nome do ambiente pai desta instância</option>
                    {% for environment in environment %}
                      {% if environment['id_environment'] == id_env %}
                        <option value="{{ environment['id_environment'] }}" selected>{{ environment['id_environment'] }} | {{ environment['name'] }}</option>
                      {% else %}
                        <option value="{{ environment['id_environment'] }}">{{ environment['id_environment'] }} | {{ environment['name'] }}</option>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </select>

              </div>



              <div class="mt-3 w-100 d-flex">
                <p class="m-0">Status da instância</p>
                <div class="ms-auto">
                  <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="status" id="statusTrue" value="ativa" checked>
                    <label class="form-check-label" for="statusTrue">
                      Ativa
                    </label>
                  </div>


                  <div class="form-check-inline me-0">
                    <input class="form-check-input" type="radio" name="status" id="statusFalse" value="inativo">
                    <label class="form-check-label" for="statusFalse">
                      Inativa
                    </label>
                  </div>
                </div>
              </div>

              <div class="d-flex align-items-center justify-content-evenly mt-3">
                <button type="submit" class="t75 bgButtonAccept">Cadastrar</button>
                <input type="reset" class="t25 bgButtonCancel ms-3">
              </div>


            </form>
          </div>  

        </div>

        <!--lista de instancias-->
        <div class="t49HalfQuarter p-2 overflowhidden hPaginaInstancia bgBlock rounded">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="width: 5%; text-align: center;">Id</th>
                  <th scope="col" class="tTabelas">Nome</th>
                  <th scope="col" class="tTabelas">Ambiente_id</th>
                  <th scope="col" class="tTabelas"">Instance_number</th>
                  <th scope="col" class="tTabelas">Status</th>
                  <th scope="col" class="tTabelas">Ferramentas</th>
                </tr>
              </thead>
              <tbody>
                <!-- id, name, ambiente_id, instance_number, status -->
                {% for instance in instance %}
                <tr>
                  <th scope="row">{{instance['id_instance']}}</th>
                  <td class="textALC">{{instance['name']}}</td>
                  <td class="textALC">{{instance['id_environment_FK']}}</td>
                  <td class="textALC">{{instance['number_instance']}}</td>
                  <td class="textALC">
                    {% if instance['status']==1 %}
                    Ativo
                    {% elif instance['status']==0%}
                    Inativo
                    {% endif %}
                  </td>
                  <td>
                    {% if instance['status'] == 1%} 
                      <a href="/cadastro/instancias_recursos?id_ins={{instance['id_instance']}}" class="d-flex justify-content-center bgHammer me-3 ms-3">
                        <img src="../static/img/hammer.svg" alt="">
                      </a>
                    {% else %}
                      <a href="/cadastro/instancias_recursos?id_ins={{instance['id_instance']}}" style="pointer-events: none" class="d-flex justify-content-center bgHammerBad me-3 ms-3">
                        <img src="../static/img/hammer.svg" alt="">
                      </a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>

        </div>
        
      </div>
</section>


{% endblock %}