{% extends "mainBase.html" %}
{% block title %}C.E.I.F.A - Página Principal{% endblock %}


{% block content %}

<div class="container bgBorder p-0 rounded shadow-sm mb-4">

        <div class="bgTransparent p-2 d-flex flex-wrap justify-content-around align-items-center">

                <div class="t49 p-2 bgBlock rounded mb-2">
                    {% if chart_temp != null %}
                    <div id="graphTempLastRead">
                        <button onclick="hiddenTempLastReads()" id="butHiddenGraphTempLastRead" class="buttonTrocar">trocar</button>
                        <embed type="image/svg+xml" src="{{ chart_temp|safe }}" />
                        <h6 class="m-0 text-center my-1">Média de temperatura: {{ average_temp }}Cº</h6>
                        {% else %}
                        <h1 class="m-0 text-center my-3">Não foram encontrados dados.</h1>
                        {% endif %}
                    </div>
                    {% if chart_temp_hours != null %}
                    <div id="graphTempLastHour" style="display: none;">
                        <button onclick="hiddenTempLastHours()" id="butHiddenGraphTempLastHour" class="buttonTrocar">trocar</button>
                        <embed type="image/svg+xml" src="{{ chart_temp_hours|safe }}" />
                        <h6 class="m-0 text-center my-1">Média de temperatura: {{ average_temp_hour }}Cº</h6>
                        {% else %}
                        <h1 class="m-0 text-center my-3">Não foram encontrados dados.</h1>
                        {% endif %}
                    </div>
                </div>

                <div class="t49 p-2 bgBlock rounded mb-2">
                    {% if chart_humi != null %}
                    <div id="graphHumiLastRead">
                        <button onclick="hiddenHumiLastReads()" id="butHiddenGraphHumiLastRead" class="buttonTrocar">trocar</button>
                        <embed type="image/svg+xml" src="{{ chart_humi|safe }}" />
                        <h6 class="m-0 text-center my-1">Média de umidade: {{ average_humi }}%</h6>
                        {% else %}
                        <h1 class="m-0 text-center my-3">Não foram encontrados dados.</h1>
                        {% endif %}
                    </div>
                    {% if chart_humi_hours != null %}
                    <div id="graphHumiLastHour" style="display: none;">
                        <button onclick="hiddenHumiLastHours()" id="butHiddenGraphHumiLastHour" class="buttonTrocar">trocar</button>
                        <embed type="image/svg+xml" src="{{ chart_humi_hours|safe }}" />
                        <h6 class="m-0 text-center my-1">Média de umidade: {{ average_humi_hour }}%</h6>
                        {% else %}
                        <h1 class="m-0 text-center my-3">Não foram encontrados dados.</h1>
                        {% endif %}
                    </div>
                </div>

                <div class="t49 p-2 bgBlock rounded overflowAuto hPaginaBase">

                    <h4 class="text-center">Ultima leitura de cada ambiente</h4>

                    <table class="table ">
                        
                        <thead>
                            <tr>
                                <th scope="col">Ambiente</th>
                                <th scope="col">Temperatura</th>
                                <th scope="col">Umidade</th>
                            </tr>
                        </thead>

                        <tbody class="table-group-divider">

                            {% for environment_readings in environment_readings %}
                            <tr>
                                <th>{{environment_readings['name']}}</th>
                                {% for last_temp in last_temp if last_temp['id_environment'] ==
                                environment_readings['id_environment'] %}
                                <th>{{last_temp['value']}} Cº</th>
                                {% else %}
                                <th>Nenhuma leitura</th>
                                {% endfor %}
                                {% for last_humi in last_humi if last_humi['id_environment'] ==
                                environment_readings['id_environment'] %}
                                <th>{{last_humi['value']}} %</th>
                                {% else %}
                                <th>Nenhuma leitura</th>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                        
                    </table>

                </div>

                <div class="t49 p-2 bgBlock rounded overflowAuto hPaginaBase">

                    <h4 class="text-center">Avisos</h4>

                        <table class="table">

                            <thead>
                                <tr>
                                    <th scope="col">Ambiente</th>
                                    <th scope="col">Descrição</th>
                                </tr>
                            </thead>
                            
                            <tbody class="table-group-divider">
                                <tr>

                                </tr>
                            </tbody>

                        </table>

                </div>

        </div>

</div>

<script type="text/javascript">
    function hiddenTempLastReads() {
        var element = document.getElementById("graphTempLastRead");
        element.style.display = "none";
        var element = document.getElementById("butHiddenGraphTempLastRead");
        element.style.display = "none";
        var element = document.getElementById("graphTempLastHour");
        element.style.display = "block";
        var element = document.getElementById("butHiddenGraphTempLastHour");
        element.style.display = "block";
    }

    function hiddenTempLastHours() {
        var element = document.getElementById("graphTempLastHour");
        element.style.display = "none";
        var element = document.getElementById("butHiddenGraphTempLastHour");
        element.style.display = "none";
        var element = document.getElementById("graphTempLastRead");
        element.style.display = "block";
        var element = document.getElementById("butHiddenGraphTempLastRead");
        element.style.display = "block";
    }

    function hiddenHumiLastReads() {
        var element = document.getElementById("graphHumiLastRead");
        element.style.display = "none";
        var element = document.getElementById("butHiddenGraphHumiLastRead");
        element.style.display = "none";
        var element = document.getElementById("graphHumiLastHour");
        element.style.display = "block";
        var element = document.getElementById("butHiddenGraphHumiLastHour");
        element.style.display = "block";
    }

    function hiddenHumiLastHours() {
        var element = document.getElementById("graphHumiLastHour");
        element.style.display = "none";
        var element = document.getElementById("butHiddenGraphHumiLastHour");
        element.style.display = "none";
        var element = document.getElementById("graphHumiLastRead");
        element.style.display = "block";
        var element = document.getElementById("butHiddenGraphHumiLastRead");
        element.style.display = "block";
    }
</script>

{% endblock %}