{% extends "mainBase.html" %}
{% block title %}C.E.I.F.A - Página Principal{% endblock %}


{% block content %}
<div class="container">
    <div class="p-3 bg-info bg-opacity-25 rounded shadow-sm">
        <div class="p-3 bg-white rounded">
            <div class="row row-cols-1 g-3">
                <div class="col-12 col-lg-4">
                    {% if chart_temp != null %}
                    <embed type="image/svg+xml" src="{{ chart_temp|safe }}" />
                    <h6 class="m-0 text-center my-3">Média de temperatura: {{ average_temp }}</h6>
                    {% else %}
                    <h1 class="m-0 text-center my-3">Não foram encontrados dados.</h1>
                    {% endif %}
                </div>
                <div class="col-12 col-lg-4">
                    {% if chart_humi != null %}
                    <embed type="image/svg+xml" src="{{ chart_humi|safe }}" />
                    <h6 class="m-0 text-center my-3">Média de humidade: {{ average_humi }}</h6>
                    {% else %}
                    <h1 class="m-0 text-center my-3">Não foram encontrados dados.</h1>
                    {% endif %}
                </div>
                <div class="col-12 col-lg-4">
                    <h6 class="text-center">Ultima leitura de cada ambiente</h6>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Ambiente</th>
                                <th scope="col">Temperatura</th>
                                <th scope="col">Humidade</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for environment_readings in environment_readings %}
                            <tr>
                                <th>{{environment_readings['name']}}</th>
                                {% for last_temp in last_temp if last_temp['id_environment'] == environment_readings['id_environment'] %}            
                                    <th>{{last_temp['value']}} Cº</th>
                                {% else %}
                                    <th>Nenhuma leitura</th>
                                {% endfor %}
                                {% for last_humi in last_humi if last_humi['id_environment'] == environment_readings['id_environment'] %}
                                    <th>{{last_humi['value']}} %</th>
                                {% else %}
                                    <th>Nenhuma leitura</th>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}