{% extends "cadBase.html" %}
{% block title %}C.E.I.F.A - Login{% endblock %}

{% block content %}

<div class="bgBorder p-2 shadow-sm rounded">
    <div class="p-3 bgBlock rounded">

        <form class="row g-3 needs-validation align-items-center" method="post" novalidate>
            
            <!-- login -->
            <div class="col-3">
                <label for="login_id" class="form-label m-0">Login:</label>
            </div>
            <div class="col-9">
                <input type="text" class="form-control" name="login" id="login_id" required>
                <div class="invalid-feedback">
                    Insira um login.
                </div>
            </div>
            <!-- senha -->
            <div class="col-3">
                <label for="password_id" class="form-label m-0">Senha:</label>
            </div>
            <div class="col-9">
                <input type="password" class="form-control" name="password" id="password_id" required>
                <div class="invalid-feedback">
                    ####
                </div>
            </div>
            <!-- verificacao -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="alert alert-primary" style="background-color: rgba(255, 0, 0, 0.10); " role="alert">
                {% for category, message in messages %}
                <p class="text-danger">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <!-- button -->
            <div class="text-center d-flex align-items-center justify-content-evenly">
                <button class="bgButtonLgAccept t20" type="submit">Logar</button>
                <button class="buttonBgWhite t20"><a href="/home" class="text-decoration-none">Cancelar</a></button>
                <button class="bgButtonLgLimpar t20" type="reset">Limpar</button>
            </div>



        </form>
    </div>
</div>
</div>




{% endblock %}