<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    -->
    <link rel="stylesheet" href="../static/css/bootstrapVerde.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <title>{% block title %}{% endblock %}</title>

</head>

<body class="bgBody">
    <header class="bgHeader">


                <!--
                    <a type="button" onclick="dark()" class="absolut themaWidth themaHeight themabackground t100"></a>

                    <script src="../static/javascript/darkthema.js"></script>
                -->
            <div class="container d-flex justify-content-between align-items-center flex-wrap p-2" style="height: 12vh;">
                
                        <img src="../static/img/logo.png" width="30%" alt="">

                        <div class="t35"></div>

                        <a href="/user" class="bgButton textButton textALC">Usuario</a>
                        <a href="/login" class="bgButton textButton textALC">Login</a>
                        <a href="/logout" class="bgButton textButton textALC">Logout</a>
                        {% if session['role_user'] == 'ADMIN' %}
                        <a href="/cadastro" class="bgButton textButton textALC">Cadastro</a>
                        {% endif %}

            </div>

        <nav class="navbar navbar-expand-lg bgNav py-1 shadow-sm">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav d-flex align-items-center t100">
                        <li class="nav-item ">
                            <a class="p-2 textgreen fw-bold" href="/home">Página Inicial</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="p-2 textgreen fw-bold" href="/cadastro/ambiente">Ambiente</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="p-2 textgreen fw-bold" href="/cadastro/instancias">Instâncias</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="p-2 textgreen fw-bold" href="/cadastro/recursos">Recursos</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="p-2 textgreen fw-bold" href="/cadastro/instancias_recursos">Instâncias_Recursos</a>
                        </li>
                        <li class="nav-item">
                            <a class="p-2 textgreen fw-bold" href="/verleituras">Visualização de leituras</a>
                        </li>

                        <li class="nav-item ms-auto p-2">
                            <a href="/sobre" class=" textgreen fw-bold">Sobre</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert alert-primary" style="background-color: rgba(255, 0, 0, 0.10); " role="alert">
            {% for category, message in messages %}
            <p class="text-danger">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

    </header>

    <!--<main style="min-height: calc(100vh - 205.843px);" class="py-3">-->
    <main style="min-height: calc(80vh);" class="py-3">

        {% block content %}{% endblock %}
    </main>


    <footer class="bgFooter">
        <div class="d-flex p-4 justify-content-between align-items-center">

                <img src="../static/img/logo.png" alt="" class="t20">

                <p class="pTextWidth text-center t20">&copy 2022 C.E.I.F.A</p>

                <a href="#" class="pTextWidth text-reset text-center text-decoration-none t20">Sobre</a>

        </div>
    </footer>

    <!--
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    -->
</body>

</html>