{% extends "mainBase.html" %}
{% block title %}C.E.I.F.A - Página de Usuário{% endblock %}

{% block content %}

<section class="d-flex justify-content-center align-items-center flex-wrap" style="height: 80vh!important;">
    <div class="bgBorder p-2 rounded shadow-sm t50">

        <div class="bgBlock p-2 rounded overflowAuto" style="height: 70vh!important;">
            <p class="fs-4 text-center">Informações do Usuário</p>
            <hr class="my-3 ">
            {% for user in user %}
            <div class="h80">
                <p class="t100 borderBottomGray"><b>Nome:</b> {{ user['name'] }}</p>
                <p class="t100 borderBottomGray"><b>Login:</b> {{ user['login'] }}</p>
                <p class="t100 borderBottomGray"><b>E-mail:</b> {{ user['email'] }}</p>
                <p class="t100 borderBottomGray"><b>Contato:</b> {{ user['contact'] }}</p>
                <p class="t100 borderBottomGray"><b>Papel:</b> {{ user['role'] }}</p>
            </div>
            {% endfor %}
        </div>

    </div>
        
</section>


{% endblock %}