{% extends "mainBase.html" %}
{% block title %}C.E.I.F.A - Página de Usuário{% endblock %}

{% block content %}

<main>
    <div class="container w-50">
        <div class="bg-1 p-3 rounded shadow-sm">
            <div class="bg-white border border-success p-3 rounded">
                <p class="m-0 fs-4 text-center">Informações do Usuário</p>
                <hr class="my-3 ">
                {% for user in user %}
                <div class="mb-3">
                    <p>Nome: {{ user['name'] }}</p>
                    <p>Login: {{ user['login'] }}</p>
                    <p>E-mail: {{ user['email'] }}</p>
                    <p>Contato: {{ user['contact'] }}</p>
                    <p>Papel: {{ user['role'] }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
</main>


{% endblock %}