{% extends "mainBase.html" %}

{% block title %}C.E.I.F.A - Visualização de Dados{% endblock %}

{% block content %}
<div class="container">
    <p class="m-0 fs-3 text-center">Visualização provisória de dados</p>
    <hr class="mt-2 mb-5">

    <!-- ambientes -->
    <div class="row row-cols-1 g-3 ">
        <div class="col-12">
            <p class="m-0 fs-4 text-center">Ambientes</p>
            <hr class="m-0">
        </div>

        {% for environment in environment %}
        <div class="col-3">
            <div class="bg-info bg-opacity-25 p-3 rounded">
                <div class="bg-white rounded border border-info p-3">
                    <p class="m-0 text-center">ID: {{ environment['id_environment'] }}</p>
                    <p class="m-0 text-center">Nome: {{ environment['name'] }}</p>
                    <p class="m-0 text-center">
                        {% if environment['status']==1 %}
                        Status: <b>Ativo</b>
                        {% elif environment['status']==0 %}
                        Status: <b>Inativo</b>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}


        <!-- instâncias -->
        <div class="col-12">
            <p class="m-0 fs-4 text-center">Instâncias</p>
            <hr class="m-0">
        </div>

        {% for instance in instance %}
        <div class="col-3">
            <div class="bg-info bg-opacity-25 p-3 rounded">
                <div class="bg-white rounded border border-info p-3">
                    <p class="m-0 text-center">ID: {{ instance['id_instance'] }}</p>
                    <p class="m-0 text-center">Nome: {{ instance['name'] }}</p>
                    <p class="m-0 text-center">Número: {{ instance['number_instance'] }}</p>
                    <p class="m-0 text-center">Pertence ao ambiente: {{ instance['id_environment_FK'] }}</p>
                    <p class="m-0 text-center">
                        {% if instance['status']==1 %}
                        Status: <b>Ativo</b>
                        {% elif instance['status']==0 %}
                        Status: <b>Inativo</b>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}


        <!-- recursos -->
        <div class="col-12">
            <p class="m-0 fs-4 text-center">Recursos</p>
            <hr class="m-0">
        </div>

        {% for resource in resource %}
        <div class="col-3">
            <div class="bg-info bg-opacity-25 p-3 rounded">
                <div class="bg-white rounded border border-info p-3">
                    <p class="m-0 text-center">ID: {{ resource['id_resource'] }}</p>
                    <p class="m-0 text-center">Nome: {{ resource['name'] }}</p>
                    <p class="m-0 text-center">Número: {{ resource['number_resource'] }}</p>
                    <p class="m-0 text-center">Parâmetro base: {{ resource['val_start'] }}</p>
                    <p class="m-0 text-center">Parâmetro teto: {{ resource['val_end'] }}</p>

                </div>
            </div>
        </div>
        {% endfor %}


        <div class="col-12">
            <p class="m-0 fs-4 text-center">instâncias_recursos</p>
            <hr class="m-0">
        </div>
        {% for instance_resource in instance_resource %}
        <div class="col-3">
            <div class="bg-info bg-opacity-25 p-3 rounded">
                <div class="bg-white rounded border border-info p-3">
                    <p class="m-0 text-center">ID: {{ instance_resource['id_instance_resource'] }}</p>
                    <p class="m-0 text-center">ID do recurso: {{ instance_resource['id_resource_FK'] }}</p>
                    <p class="m-0 text-center">ID da instancia: {{ instance_resource['id_instance_FK'] }}</p>
                    <p class="m-0 text-center">
                        {% if instance_resource['status']==1 %}
                        Status: <b>Ativo</b>
                        {% elif instance_resource['status']==0 %}
                        Status: <b>Inativo</b>
                        {% endif %}
                    </p>
                    <p class="m-0 text-center">
                        {% if instance_resource['normal']==1 %}
                        normal: <b>Normal</b>
                        {% elif instance_resource['normal']==0 %}
                        normal: <b>Defeituoso</b>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}


        <div class="col-12">
            <p class="m-0 fs-4 text-center">usuarios</p>
            <hr class="m-0">
        </div>
        {% for user in user %}
        <div class="col-3">
            <div class="bg-info bg-opacity-25 p-3 rounded">
                <div class="bg-white rounded border border-info p-3">
                    <p class="m-0 text-center">ID: {{ user['id'] }}</p>
                    <p class="m-0 text-center">Nome: {{ user['name'] }}</p>
                    <p class="m-0 text-center">Login: {{ user['login'] }}</p>
                    <p class="m-0 text-center">Senha: {{ user['password'] }}</p>
                    <p class="m-0 text-center">E-mail: {{ user['email'] }}</p>
                    <p class="m-0 text-center">Contato: {{ user['contact'] }}</p>
                    <p class="m-0 text-center">Papel: {{ user['role'] }}</p>
                    
                </div>
            </div>
        </div>
        {% endfor %}
        
        <div class="col-12">
            <p class="m-0 fs-4 text-center">Leituras</p>
            <hr class="m-0">
        </div>
        {% for reading in reading %}
        <div class="col-3">
            <div class="bg-info bg-opacity-25 p-3 rounded">
                <div class="bg-white rounded border border-info p-3">
                    <p class="m-0 text-center">momento da leitura: {{ reading['hour_reading'] }}</p>
                    <p class="m-0 text-center">id da instancia pai: {{ reading['id_instance_FK'] }}</p>
                    <p class="m-0 text-center">número de recurso: {{ reading['number_resource'] }}</p>
                    <p class="m-0 text-center">valor da leitura: {{ reading['value'] }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    
    </div>


    {% endblock %}