{% extends "mainBase.html" %}
{% block title %}C.E.I.F.A - Cadastrar um Recurso{% endblock %}


{% block content %}



<section class="container mt-5 mb-5 bgBorder p-2 rounded shadow-sm">
    <div class="bg-whited-flex justify-content-between align-items-center p-2 t100 bgBlock rounded">
      
      <!--pesquisa-->
      <div class="d-flex justify-content-evely align-items-center t100">
        <input type="text" class="form-control mb-3 me-3" id="numeroRecurso" onkeyup="filtroInstancia()"placeholder="Pesquisar por instância">
        <input type="text" class="form-control mb-3 me-3 " id="data" onkeyup="filtroData()"placeholder="Pesquisar por data">
        <input type="text" class="form-control mb-3 " id="parametro" onkeyup="filtroParametro()"placeholder="Pesquisar por parâmetro">
      </div>

      <!--lista-->
      <div class="border border-dark rounded">

        <table class="table table-striped m-0 text-center" id="tabela">
          <thead>
            <tr>
              <th scope="col" class="tTabelas">Id Instancia pai</th>
              <th scope="col" class="tTabelas">Momento da leitura</th>
              <th scope="col" class="tTabelas">Parâmetro</th>
              <th scope="col" style="width: 5%; text-align: center;">Valor</th>
            </tr>
          </thead>
          <tbody>
            {% for leituras in leituras %}
            <tr>
              <td class="fw-bold tTabelas">{{leituras['i_name']}}</td>
              <td class="tTabelas">{{leituras['hour_reading']}}</td>
              <td class="tTabelas">{{leituras['number_resource_fk']}} | {{leituras['r_name']}}</td>
              {% if leituras['number_resource_fk']==3303 %}
                <td class="tTabelas">{{leituras['value']}}Cº</td>
              {% elif leituras['number_resource_fk']==3304 %}
                <td class="tTabelas">{{leituras['value']}}%</td>
              {% else %}
                <td class="tTabelas">{{leituras['value']}}</td>
              {% endif %}
                
            </tr>
            {% endfor %}
          </tbody>
        </table>
        
      </div>

    </div>
</section>


<script>
  function filtroInstancia() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("numeroRecurso");
    filter = input.value.toUpperCase();
    table = document.getElementById("tabela");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  function filtroData() {
    // Declare variables
    var input, td, i, txtValue;
    input = document.getElementById("data");
    filter = input.value.toUpperCase();
    table = document.getElementById("tabela");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  function filtroParametro  () {
    // Declare variables
    var input, td, i, txtValue;
    input = document.getElementById("parametro");
    filter = input.value.toUpperCase();
    table = document.getElementById("tabela");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>


{% endblock %}